@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-image: url("https://wallpapershome.com/images/pages/pic_h/24296.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/*------------ Login container ------------*/

.box-area{
    width: 930px;
    position: relative;
    overflow: hidden;
    border-color: transparent;
}

/* CSS for Messages */
.email-error-message {
    color: red; /* Example: Set the text color to red for error messages */
    /* Add more styling as needed */
}

/*------------ Right box ------------*/

.right-box{
    padding: 40px 30px 40px 40px;
}

/*------------ Custom Placeholder ------------*/

::placeholder{
    font-size: 16px;
}

.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}


/*------------ For small screens------------*/

@media only screen and (max-width: 768px){

     .box-area{
        margin: 0 10px;

     }
     .left-box{
        height: 100px;
        overflow: hidden;
     }
     .right-box{
        padding: 20px;
     }

}